
.info{
    position: relative;
    text-align: center;
    background-color: aqua;
    border: solid black;
 }
  
 
 .container{
    background-color: blueviolet;
    display: block;
    width: 500px;
    margin:auto;
   
 }
  
 
.center{
    
}
  
 
  
 